@(user: User)

@main(user) {
    <div class = "table-responsive container">
        <div class = "row text-center">
            <h1>Matched Renters</h1>
        </div>
        <div class = "well well-lg row text-center" id = "matchediterator">

            <div class = "text-center ">
               <strong><img src="@routes.Assets.at("images/loading.gif")">&nbsp;Loading...</strong>
            </div>
        </div>

        <div class="col-xs-12" style="height:70px;"></div>

        <div class = "row text-center" id = "waitForListArea">
            <h1>Waiting For Responses</h1>
            <table class = "table table-striped" id="waitingiterator">
                <tr>
                    <td style="white-space: nowrap"><strong><img src="@routes.Assets.at("images/loading.gif")">&nbsp;Loading...</strong></td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12" style="height:70px;"></div>

        <div class = " row text-center">
            <h1>New Suggestions</h1>
        </div>
        <div class = "well well-lg row "   id = "newSuggestionIterator">
            <div class = "text-center ">
                <strong><img src="@routes.Assets.at("images/loading.gif")">&nbsp;Loading...</strong>
            </div>
        </div>
        <div class="col-xs-12" style="height:50px;"></div>

        <div class = "row text-center">
            <h1> New Requests </h1>
        </div>

        <div class = "well well-lg row text-center" id = "newRequestIterator">
            <div class = "text-center ">
                <strong><img src="@routes.Assets.at("images/loading.gif")">&nbsp;Loading...</strong>
            </div>
        </div>
    </div>

<script src="@routes.Assets.at("javascripts/matches.js")" type="text/javascript"></script>
}

