@(user: User, profile: UserProfile)

@main(user,profile) {

    <div class=container>


        <div class="row">
            <img src= @routes.Assets.at( "user_pictures/" + user.email + ".png") class="img-circle center-block" style="width:304px;height:228px;" />
            <div class="row text-center">
                <h1> @profile.name </h1>
            </div>
            <table class = "table table-striped text-center">
                <tr>
                    <td width="50%"> Age: </td>
                    <td> @profile.age </td>
                </tr>
                <tr>
                    <td> Gender: </td>
                    <td> @profile.gender </td>
                </tr>
                <tr>
                    <td> About @profile.name : </td>
                    <td> @profile.bio </td>
                </tr>
            </table>
        </div>
    </div>
}
